.form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap:1rem;
  margin:1rem 0;
}
.mainRow {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.mainRow input{
  flex-grow: 1;
}
.extension {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.extension input, .extension select {
  margin-left:.5rem
}
.extension input[type=text] {
  width: 15px;
}
.form input, .form textarea, .form select {
  font-size: medium;
  font-family: inherit;
  border:none;
  padding: .8rem 1rem;
  border-radius:.5rem;
}
.actions{
  display: flex;
  justify-content: end;
  align-items: end;
  gap:.5rem;
}
.form textarea{
  resize: vertical;
  width: 100%;
}