.item {
  margin-bottom:.5rem
}
.item label{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}
.item label span{
  flex-grow: 1;
}
.item button{
  padding: 5px 10px;
}
