.item{
  cursor: pointer;
  display: flex;
  align-items: start;
  gap: 1rem;
  background-color: #131314;
  border-radius: 1rem;
  padding: .5rem;
  border: 2px solid transparent
}
.icon{
  font-size: 50pt;
  margin:-.5rem;
}
.content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: .3rem;
}
.content p{
  text-wrap: balance;
  margin: .2rem 0;
}
.title{
  font-size: 20pt
}
.actions{
  margin-top:.2rem;
  display: flex;
  gap: .5rem;
  justify-content: end;
}
.item:hover{
  border-color: #646cff
}
.item span{
  flex-grow: 1;
}
.item button{
  padding: 5px 10px;
}
.completed {
  text-decoration: line-through;
}
.temporary{
  font-style: italic;
  color: lightgray;
}

.remainedDeadline, .passedDeadline {
  font-style: normal;
  white-space: nowrap;
  font-size: 9pt;
  border-radius: 1rem;
  padding: .2rem .9rem;
}
.remainedDeadline {
  background-color: #48ff0062;
}
.passedDeadline {
  background-color: #ff191962;
}
@media screen and (max-width: 768px) {
  .icon{
    font-size: 35pt;
    margin:-.3rem;
  }
  .title{
    font-size: 14pt
  }
  .content p{
    display:none;
  }
  .content p.show{
    display:block;
  }
}