.iconSelector{
  position: relative;
  padding: .5rem;
}
.select{
  position: relative;
}
.selectBox{
  background-color: #131314;
  font-size: x-large;
  padding: .3rem 1rem .5rem;
  cursor: pointer;
}
.selectOptions{
  top:90%;
  left:0;
  position: absolute;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 2fr));
  background-color: #131314;
  border-radius: 1rem;
  border-top-left-radius: 0;
  padding:1rem;
}
.selectOptions button{
  font-size: xx-large;
  aspect-ratio: 1/1;
  padding: .4rem;
  background-color: transparent;
}
