.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid gray;
  border-radius: 1rem;
  padding: .3rem .8rem;
}
.icon{
  width: 1rem;
  display: flex;
  flex-direction: column;
}
.active{
  fill: gray;
}
.inactive{
  fill: none;
}